<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary mb-4">
      <a class="navbar-brand" href="{% url 'landingPage' %}">KSHTS Vote</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{% url 'landingPage' %}">Home </a>
          <a
            class="nav-item nav-link {% block active_status %} {% endblock active_status %}"
            href="{% url 'read_categories' %}"
            >Positions</a
          >
          <a
            class="nav-item nav-link {% block summary_status %} {%endblock %}"
            href="{% url 'vote_summary' %}"
            >Vote Summary</a
          >
          <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
      </div>
    </nav>
    <main class="container">
      {% block content %} This is the main section {% endblock %}
    </main>
    <footer>developed and designed by Barimah</footer>
  </body>
</html>
