{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Voter ID Confirmation</h2>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <!-- Adjusting the width using Bootstrap grid -->
      <form method="POST" action="." class="bg-light p-4 rounded shadow">
        {% csrf_token %}
        <div class="form-group">
          <label for="voter_id">Enter your voter ID here</label>
          <p class="text-danger text-center">{{ errorMsg }}</p>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="voter_id"
              placeholder="Enter your voter ID"
              name="voter_id"
              required
            />
            <div class="input-group-append">
              <span class="input-group-text"
                ><i class="fas fa-id-card"></i
              ></span>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Confirm</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
